<div>
    {{> navbar this}}
</div>
    <div class="flex-container">
        <table class="block">
        <tr>
            <th>Winner</th>
            <th>Looser</th>
            <th>Champion1</th>
            <th>Champion2</th>
            <th>State</th>
        </tr>
        {{#each matchs}}
        <tr>
            <td>{{this.winner}}</td>
            <td>{{this.looser}}</td>
            <td>{{this.champion1}}</td>
            <td>{{this.champion2}}</td>
            <td>{{this.state}}</td>
        </tr>
        {{/each}}
        </table>
        <form  class="block" action="/match" method="POST" encType="multipart/form-data">
            <div>
                <label for="player1">Winner:</label>
                <input list="players" id="winner" name="winner"><br>
                <label for="player2">Looser:</label>
                <input list="players" id="looser" name="looser"><br>
                <label for="champion1">ChampionWinner:</label>
                <input list="champions" id="champion1" name="champion1"><br>
                <label for="champion2">ChampionLooser:</label>
                <input list="champions" id="champion2" name="champion2"><br>
                <label for="proof">Endgame screen (proof):</label>
                <input type="file" id="proof" name="proof" accept="image/*">
            </div>
            <input type="submit" value="Add">
        </form>

        <datalist id="players">
            {{#each players}}
            <option value="{{this.name}}">
            {{/each}}
        </datalist>

        <datalist id="champions">
            {{#each champions}}
            <option value="{{this.name}}">
            {{/each}}
        </datalist>
    </div>
<div>
    {{> footnote}}
</div>