<div>
    {{> navbar connected='true'}}
</div>

    <div>
        <ul>
            <li>Name : {{ name }}</li>
            <li>Email : {{ email }}</li>
            <li>Elo : {{ elo }}</li>
            <li>Country : {{ country }}</li>
            <li>City : {{ city }}</li>
            <li>OPGG : {{ opgg }}</li>
        </ul>
    </div>

    <div>
        <ul>
            <li>Wins:</li>
            <li>Defeats:</li>
            <li>Winrate:</li>
        </ul>
    </div>

<div>
    {{> footnote}}
</div>